<!-- Generated template for the Redeem3Component component -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img src="/assets/imgs/titlebar.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-row>
    <ion-col col-1>
    </ion-col>
    <ion-col col-10>
      <p>You have succesfully loaded the amount of Php 500.00 to your account!</p>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-1>
    </ion-col>
    <ion-col col-2>
      <ion-icon md="logo-usd"></ion-icon>
    </ion-col>
    <ion-col col-8>
      <b>You currently have</b>
      <h3>PHP 2,000.00</h3>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10>
      <p>Thank you for choosing EPUn</p>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10>
      <b>Would you like to redeem another card?</b>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-5>
      <button ion-button full class="yes" (click)="red()">Yes</button>
    </ion-col>
    <ion-col col-5>
      <button ion-button full class="no" (click)="main()">No</button>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>

</ion-content>
<!-- <div>
  {{text}}
</div> -->
