page-home {
  .ion-md-contact {
    font-size: 380%;
    color: #0061ff;
  }

  .toolbar-background-md {
    background-color: #0061ff;
    box-shadow: 5px 10px #9b9b9b;
  }

  .ion-md-folder-open {
    color: #fff;
    font-size: 300%;
    padding-left: 30%;
  }

  .ion-md-card {
    color: #fff;
    font-size: 300%;
    padding-left: 30%;
  }

  .ion-logo-bitcoin {
    color: #fff;
    font-size: 300%;
    padding-left: 30%;
  }

  .options {
    background-color: #0061ff;
    height: 15%;
  }

  .txt {
    color: #fff;
  }

  .rank {
    margin: -12% 0;
  }

  .user {
    margin-top: 2%;
  }

  .bar-button-menutoggle-md {
    color: #fff;
  }

  .toolbar-title-md {
    color: #fff;
  }

  .ads {
    margin-bottom: 0%;
  }

  .fixed {
    position: fixed;
    bottom: 0;
    margin-left: 15%;
    width: 60%;
  }

  .border {
    border: solid #ccc;
    border-bottom: 0px;
  }

  .labelborder {
    border: solid #ccc;
    border-top: 0px;
  }
}
