<!-- Generated template for the VirtualcardComponent component -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img src="/assets/imgs/titlebar.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="background-image: url('/assets/imgs/card.png'); color:#fff; height: 40%;
    background-size: 100% 100%;">
    <br>
    <br>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10><i class="cardnum">12345 67891 01112</i>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
      </ion-col>
      <ion-col col-8><strong>FRANCE LAZ</strong></ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

  </div>

  <!-- <div class="barcode">
    <p style="font-family: Free 3 of 9;">*123456789012*</p>
  </<div> -->
  <br>
  <br>
  <br>
  <div>
    <img src="/assets/imgs/bar.jpg">
  </div>
</ion-content>
<!-- <div>
  {{text}}
</div> -->
