<!-- Generated template for the VirtualcardComponent component -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Logo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card">
    <ion-row>
      <ion-col col-9>
      </ion-col>
      <ion-col col-3>
        <b>EPUnS</b>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <i class="cardnum">1234 5678 9101 1121</i>
      </ion-col>
    </ion-row>
    <br>
    <br>
    <br>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-11>
        <strong>JOHN CHRISTOPER ILALIM</strong>
      </ion-col>
    </ion-row>
  </div>

  <div class="barcode">
    <p style="font-family: Free 3 of 9;">*123456789012*</p>
  </div>
</ion-content>
<!-- <div>
  {{text}}
</div> -->
