<!-- Generated template for the Redeem1Component component -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Logo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <ion-row>
    <ion-col col-2>
    </ion-col>
    <ion-col col-8>
      <p class="bal">You currently have<h3>PHP 1,500.00</h3>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <ion-item>
        <ion-input type="text" placeholder="amount"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
      Please enter the 9-digit code found on your EPUn Prepaid Card to redeem the amount
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>

  <br>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <button ion-button full (click)="red()">Redeem Now</button>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
</ion-content>

<!-- <div>
  {{text}}
</div> -->
