redeem2 {
  .confirm {
    background-color: #F93;
    border-radius: 100px;
  }

  .cancel {
    border-radius: 100px;
    background-color: #525c6d;
  }

  .toolbar-background-md {
    background-color: #001c49;
    box-shadow: 5px 10px #9b9b9b;
  }

  .bar-button-menutoggle-md {
    color: #fff;
  }

  .toolbar-title-md {
    color: #fff;
  }

  .ion-logo-usd {
    font-size: 3.5em;
  }

  h3 {
    margin-top: 1%;
  }

  b {
    font-family: Tahoma;
  }

}
