<!-- Generated template for the Redeem2Component component -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Logo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <p class="bal">You currently have<h3>PHP 1,500.00</h3>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>You are about to load Php 500.00 to your account.</p>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col col-8>
      <p>CURRENT BALANCE<br>LOADING BALANCE</p>
    </ion-col>
    <ion-col col-4>
      <p>Php 1,500.00<br>Php 500.00</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8>
      <p></p>
    </ion-col>
    <ion-col col-4>
      <p></p>
    </ion-col>
  </ion-row>

</ion-content>
<!-- <div>
  {{text}}
</div> -->
