<!-- Generated template for the DashboardComponent component -->
<!-- <div>
  {{text}}
</div> -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img src="/assets/imgs/titlebar.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col col-3>
        <ion-icon md="md-contact"></ion-icon>
        <!-- <div class="badge"><img src="/assets/imgs/tycoon.png"></div> -->
      </ion-col>
      <ion-col col-9>
        <h3 class="user" style="margin-top:4%;">France Laz
        </h3><br>
        <p class="rank">Tycoon Saver</p>

      </ion-col>
    </ion-row>
  </div>

  <br>
  <br>

  <div>
    <ion-row>
      <ion-col col-6>
        ACCOUNT BALANCE<h4>PHP 1,500.00</h4>
      </ion-col>
      <ion-col col-6 text-right>
        POINTS<h4>400 EPUnS</h4>
      </ion-col>
    </ion-row>
  </div>

  <br>

  <div class="options">
    <ion-row>
      <ion-col col-4 (click)="TopUp()" class="border">
        <ion-icon md="md-arrow-round-up">
        </ion-icon>
      </ion-col>
      <ion-col col-4 (click)="Transac()" class="border">
        <ion-icon md="md-card">
        </ion-icon>
      </ion-col>
      <ion-col col-4 (click)="Vcard()" class="border">
        <ion-icon md="md-browsers">
        </ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="txt">
      <ion-col col-4 text-center class="labelborder">
        Top up
      </ion-col>
      <ion-col col-4 text-center class="labelborder">
        Transactions
      </ion-col>
      <ion-col col-4 text-center class="labelborder">
        Virtual Card
      </ion-col>
    </ion-row>
  </div>

  <br>

  <div>
    <ion-row>
      <ion-col float-right>
        Latest Transactions
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>00122-01121-01156</b><br>
            You aded 50 pesos on your account on November 16, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>02141-01241-07156</b><br>
            You aded 20 pesos on your account on November 13, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div class="fixed">
    <p class="ads">Powered By:</p>
    <img src="/assets/imgs/union.png">
  </div>
</ion-content>
