transaction {

  .cancel {
    border-radius: 100px;
    background-color: #525c6d;
  }

  .toolbar-background-md {
    background-color: #001c49;
    box-shadow: 5px 10px #9b9b9b;
  }

  .bar-button-menutoggle-md {
    color: #fff;
  }

  .toolbar-title-md {
    color: #fff;
  }

}
