<!-- Generated template for the TransactionComponent component -->
<!-- <div>
  {{text}}
</div> -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img src="/assets/imgs/titlebar.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>00122-01121-01156</b><br>
            You aded 50 pesos on your account on November 16, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>02141-01241-07156</b><br>
            You aded 20 pesos on your account on November 13, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>


  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>00122-01121-01156</b><br>
            You aded 60 pesos on your account on November 9, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>02141-01241-07156</b><br>
            You aded 100 pesos on your account on November 7, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>



  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>00122-01121-01156</b><br>
            You aded 20 pesos on your account on November 5, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <p><b>02141-01241-07156</b><br>
            You aded 10 pesos on your account on November 3, 2018</p>
        </ion-item>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8>
      <button ion-button full class="cancel" (click)="main()">Back</button>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>


  <div class="fixed">
    <p class="ads">Powered By:</p>
    <img src="/assets/imgs/union.png">
  </div>
</ion-content>
